<div class="photo">
  <div class="container">
    <img ng-src="{{ detail.url }}">
    <h2 class="photo-title">{{detail.title}}</h2>
    <p class="photo-author">{{detail.author}} </p>
    <p class="photo-views"> {{detail.views | number}}</p>
    <p class="photo-upvotes">{{detail.upvotes | number}} </p>
    <p class="photo-pubdate">{{detail.pubdate | date}} </p>
  </div>
</div>
