<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>My AngularJS App</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
		<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
		<link rel="stylesheet" href="app.css">
		<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		
		<div ng-app="APP" ng-controller="APP.ApplicationCtrl">
			
			<h1>Hello {{ name }}!</h1>
			<button ng-click="sayHelloWorld()">Say "Hello World"!</button>
			<button ng-click="sayHelloAngular()">Say "Hello Angular"!</button>
			
			<input type="text" ng-model="name" />
			
			<p>Filtry:</p>
		    <p>Original value: {{ name }}</p>
		    <p>Uppercase: {{ name | uppercase }}</p>
		    <p>Lowercase: {{ name | lowercase }}</p>
		    <p>Custom filter:</p>
		    <p>Reverse: {{ name | reverse }}</p>
		    <p>Splitted: {{ name | split }}</p>
		    
		    <p>dyrektywa ngRepeat i filterQuery:</p>
		    <input type="text" ng-model="filterQuery" placeholder="filterQuery" />
		    <ul>
        		<li ng-repeat="item in cities | filter:filterQuery">{{ item }}</li>
    		</ul>
			
		</div>
		
		<hr/>
		
		<ul class="menu">
			<li>
				<a href="#/view1">view1</a>
			</li>
			<li>
				<a href="#/view2">view2</a>
			</li>
		</ul>

		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div ng-view></div>

		<!--<div>Angular seed app: v<span app-version></span></div>-->

		<!-- In production use:
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
		-->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="app.js"></script>
		<script src="view1/view1.js"></script>
		<script src="view2/view2.js"></script>
		<script src="components/version/version.js"></script>
		<script src="components/version/version-directive.js"></script>
		<script src="components/version/interpolate-filter.js"></script>
	</body>
</html>
