<!doctype html>
<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

    <!-- Include the AngularJS library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  </head>
  <body ng-app="AppMarketApp">
    <div class="header">
      <div class="container">
        <h1>App Market</h1>
      </div>
    </div>

    <div class="main" ng-controller="MainController">
      <div class="container">
      	
      	<!--
         <div class="card">
          <img class="icon" ng-src="{{ move.icon }}">
          <h2 class="title">{{ move.title }}</h2>
          <p class="developer">{{ move.developer }}</p>
          <p class="price">{{ move.price | currency }}</p>
        </div>

        <div class="card">
          <img class="icon" ng-src="{{ shutterbugg.icon }}">
          <h2 class="title">{{ shutterbugg.title }}</h2>
          <p class="developer">{{ shutterbugg.developer }}</p>
          <p class="price">{{ shutterbugg.price | currency }}</p>
        </div>

        <div class="card">
          <img class="icon" ng-src="{{ gameboard.icon }}">
          <h2 class="title">{{ gameboard.title }}</h2>
          <p class="developer">{{ gameboard.developer }}</p>
          <p class="price">{{ gameboard.price | currency }}</p>
        </div>
       -->
       <!--
         <div class="card"> 
          <app-info info="move"></app-info> 
        </div>

        <div class="card"> 
          <app-info info="shutterbugg"></app-info> 
        </div>

        <div class="card"> 
          <app-info info="gameboard"></app-info> 
        </div>
        
        <div class="card"> 
          <app-info info="forecast"></app-info> 
        </div>
       -->
        <div class="card" ng-repeat="app in apps"> 
          <app-info info="app"></app-info> 
          <install-app></install-app>
        </div>
               
      </div>
    </div>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Directives -->
    <script src="js/directives/appInfo.js"></script>
    <script src="js/directives/installApp.js"></script>


  </body>
</html>
